apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml
  - deployment.yaml
  - ingress.yaml
  - namespace.yaml
  - secret.yaml
  - service.yaml
  - serviceaccount.yaml

namespace: recipe-manager

# Labels for all resources
labels:
  - pairs:
      app: recipe-manager
