:root {
  --max-width: 700px;
  --horizontal-margin: 20px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  grid-template-columns:
    1fr
    var(--horizontal-margin)
    minmax(auto, var(--max-width))
    var(--horizontal-margin)
    1fr;
}

/* Centered with --horizontal-margin */
.main-container-child-centered {
  grid-column: 3;
}

.page {
  background-color: var(--chakra-colors-gray-50);
  color: var(--chakra-colors-gray-800);
  padding-top: 40px;
  padding-bottom: 70px;
}

header {
  position: sticky;
  overflow: hidden;
  top: 0;
  background-color: var(--chakra-colors-gray-700);
  color: var(--chakra-colors-gray-50);
  padding-top: 25px;
  padding-bottom: 25px;
}

nav {
  color: var(--chakra-colors-gray-50);
}

footer {
  flex-grow: 1; /* Fill all remaining vertical space */
  background-color: var(--chakra-colors-gray-700);
  color: var(--chakra-colors-gray-50);
}

#footer-content {
  margin-top: 35px;
  margin-bottom: 35px;
}

h1 {
  padding-bottom: 35px;
}

.progress-container {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
